<ng-template #upsertProductModal let-modal>
  <div class="modal-body modal-sm">
    <form [formGroup]="productUpsertForm" (ngSubmit)="onSubmit()">
      <h5 class="title">{{product ? 'Edit Product' : 'Add New Product'}}</h5>
      @if (isSubmitting$ | async) {
      <app-loading-spinner></app-loading-spinner>
      } @else {
      <div>
        <div class="product-input">
          @if (product) {
          <label class="modal-label" for="productID">Product ID</label>
          }
          <input class="form-control" type="text" placeholder="Product ID" formControlName="productID"
            autocomplete="off" />
          <small class="text-danger">
            {{ getProductErrorMessage("productID") }}
          </small>
        </div>
        <div class="product-input">
          @if (product) {
          <label class="modal-label" for="productName">Product Name</label>
          }
          <input class="form-control" type="text" placeholder="Product Name" formControlName="productName"
            autocomplete="off" />
          <small class="text-danger">
            {{ getProductErrorMessage("productName") }}
          </small>
        </div>
        <div class="product-input">
          @if (product) {
          <label class="modal-label" for="productDescription">Product Description</label>
          }
          <input class="form-control" type="text" placeholder="Product Description" formControlName="productDescription"
            autocomplete="off" />
          <small class="text-danger">
            {{ getProductErrorMessage("productDescription") }}
          </small>
        </div>
        <div class="product-input">
          @if (product) {
          <label class="modal-label" for="productCategoryName">Product Category</label>
          }
          <select class="form-control" formControlName="productCategoryName">
            @if (!product) {
            <option value="" disabled>Select a category...</option>
            }
            <option *ngFor="let category of categories" [value]="category.categoryName">
              {{ category.categoryName }}
            </option>
          </select>
          <small class="text-danger">
            {{ getProductErrorMessage("productCategoryName") }}
          </small>
        </div>
        <div class="product-input">
          @if (product) {
          <label class="modal-label" for="productStock">Product Stock</label>
          }
          <input class="form-control" type="number" placeholder="Product Stock" formControlName="productStock"
            autocomplete="off" />
          <small class="text-danger">
            {{ getProductErrorMessage("productStock") }}
          </small>
        </div>
        <div class="product-input">
          @if (product) {
          <label class="modal-label" for="productPrice">Product Price</label>
          }
          <input class="form-control" type="number" placeholder="Product Price" formControlName="productPrice"
            autocomplete="off" />
          <small class="text-danger">
            {{ getProductErrorMessage("productPrice") }}
          </small>
        </div>
      </div>
      }
    </form>
    <div>
      <button class="btn btn-dark"><i class="bi bi-database"></i>&nbsp;{{product ? 'Update' : 'Save'}}</button>

      @if (product) {
      <button class="btn btn-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;Delete</button>
      }
    </div>
  </div>
</ng-template>