<ng-template #changePasswordModal let-modal>
  <div class="modal-body modal-sm">
    <form [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
      <h5 class="modal-title">Change Password</h5>
      @if (isSubmitting$ | async) {
      <app-loading-spinner></app-loading-spinner>
      } @else {
      <div>
        <input class="form-control" type="password" placeholder="Old Password" formControlName="OldPassword"
          autocomplete="off" />
        <small class="text-danger">
          {{ getPasswordErrorMessage("OldPassword") }}
        </small>
        <input class="form-control" type="password" placeholder="New Password" formControlName="NewPassword"
          autocomplete="off" />
        <small class="text-danger">
          {{ getPasswordErrorMessage("NewPassword") }}
        </small>
        <input class="form-control" type="password" placeholder="Repeat New Password"
          formControlName="RepeatNewPassword" autocomplete="off" />
        <small class="text-danger">
          {{ getPasswordErrorMessage("RepeatNewPassword") }}
        </small>
        @if (getFormErrorMessage()) {
        <small class="text-danger">{{ getFormErrorMessage() }}</small>
        }
      </div>
      }

      <button type="submit" class="btn btn-dark" [disabled]="passwordChangeForm.invalid">
        <i class="bi bi-shield-exclamation"></i>&nbsp;
        Change Password
      </button>
    </form>
  </div>
</ng-template>