<div class="sidebar text-white bg-dark">
  <div class="container">
    <span class="sidebar-title">PointOfSale.Web</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-link text-white"><i class="bi bi-house"></i><span>Home</span></li>
      <li class="nav-link text-white"><i class="bi bi-cart"></i><span>Orders</span></li>
      <li class="nav-link text-white"><i class="bi bi-cash-coin"></i><span>Sales</span></li>
      <li class="nav-link text-white"><i class="bi bi-clipboard-check"></i><span>Inventory</span></li>
    </ul>
  </div>
</div>