.sidebar {
  height: 100%;
}

.sidebar hr,
span,
i {
  color: #fff;
}

ul i {
  margin-right: 0.5rem;
}

.sidebar-title {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.nav-link a {
  text-decoration: none;
}

.nav-link:hover {
  transform: scale(1.1);
  font-weight: bolder;
}

.nav-link .active {
  font-weight: bolder;
  font-size: 1.5rem;
}

.user-profile {
  font-size: 1.2rem;
  bottom: 0;
  position: fixed;
}

.user-profile :hover {
  transform: scale(1.2);
  font-weight: bolder;
}
