<form (ngSubmit)="onSubmit()" class="auth-card">
  <mat-card appearance="raised">
    <mat-card-header class="label-title">Point Of Sale Web</mat-card-header>
    <mat-form-field class="auth-input">
      <mat-label>Username:</mat-label>
      <input
        type="text"
        [(ngModel)]="user.username"
        name="username"
        matInput
        required
      />
    </mat-form-field>
    <mat-form-field class="auth-input">
      <mat-label>Password:</mat-label>
      <input
        type="password"
        [(ngModel)]="user.password"
        name="password"
        matInput
        required
      />
    </mat-form-field>
    <mat-card-actions align="end"
      ><button type="submit" mat-raised-button>
        <mat-icon aria-hidden="false" fontIcon="emoji_people"></mat-icon>
        Sign In
      </button>
    </mat-card-actions>
  </mat-card>
</form>
