.order-info h5 {
  font-weight: bold;
}

.order-info button {
  margin-top: 1rem;
  width: 145px;
}

.order-summary button {
  margin-top: 1rem;
  width: 130px;
}

.order-summary div:nth-child(1) {
  float: right;
}
