*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}
